html, body {
  overflow-x: hidden;
}
body {
  position: relative;
  font-family: 'Ubuntu';
  background-color: rgb(145, 145, 145);
}

/* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.imgProfile{
  width: 50%;

  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}


.floating { 
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}

@keyframes floating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 15px); }
  100%   { transform: translate(0, -0px); }   
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}



.fade-in { animation: fadeIn 4s; }
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.word {
  -webkit-animation: moving 1s;
  animation: moving 1s;
}
@keyframes moving {
  from {transform: translateY(200px);}
  to {transform: translateY(0px);}
}

.wordnavl {
  -webkit-animation: movingnavl 1s;
  animation: movingnavl 1s;
}
@keyframes movingnavl {
  from {transform: translateX(-200px);}
  to {transform: translateX(0px);}
}

.wordnavritem1 {
  -webkit-animation: wordnavritem1 1s;
  animation: wordnavritem1 0.5s;
}
@keyframes wordnavritem1 {
  from {transform: translateX(200px);}
  to {transform: translateX(0px);}
}
.wordnavritem2 {
  -webkit-animation: wordnavritem2 1s;
  animation: wordnavritem2 0.7s;
}
@keyframes wordnavritem2 {
  from {transform: translateX(200px);}
  to {transform: translateX(0px);}
}
.wordnavritem3 {
  -webkit-animation: wordnavritem3 1s;
  animation: wordnavritem3 0.9s;
}
@keyframes wordnavritem3 {
  from {transform: translateX(200px);}
  to {transform: translateX(0px);}
}


.bandera{
  width: 30px;
}

@media (max-width: 900px) {
  .bandera{
    width: 20px;

  }
  .imgProfile{
    width: 50%;
    text-align: center !important;

}
.display-4{
  font-size: 60px !important;
  text-align: center !important;
}
}

.magicWords1 {

  color:white;
}

.magicWords1:before {
  content: "...";
  animation: topToBottom1 5s infinite 0s;
}


@keyframes topToBottom1 {
  25% {
    content: "life.";
  }
  50% {
    content: "work.";
  }
  75% {
    content: "passion.";
  }
  100% {
    content: "portfolio.";
  }

}
.random {

  color:white;
}

.random:before {
  content: "...";
  animation: topToBottom2 5s infinite 0s;
}

@keyframes topToBottom2 {
  25% {
    content: "my projects.";
  }
  50% {
    content: "your projects.";
  }
  75% {
    content: "our projects.";
  }
  100% {
    content: "our future.";
  }

}

a{
  color: gray;
}

.titleabout{
  background-color: #212529;
}
.titleprojects{
  background-color: #212529;
}
.titlecertificates{
  background-color: #212529;
}

.navbarName{
  color:white;
}
.navbar{
  background-color: #212529;
}

a:hover{
  color: #64696e;
}
.display-4:hover{
  color: rgb(194, 194, 194);

}

.boton:hover{
  color: #64696e; 
}

.imghobbie{
  transition: width 0.3s 

}
.imghobbie:hover{
  width: 70%;
}

.list-group-item{
  font-size: 1em;
  transition: font-size .5s ease;

}
.list-group-item:hover{
  font-size: 1.5em;
}

tr{
  font-size: 1em;
  transition: font-size .5s ease;
  transition: background-color .5s ease;
}

tr:hover{
  font-size: 1.2em;
  background-color: #bdbfc0;
}