/* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.imgProfile{
  width: 20%;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}



.fade-in { animation: fadeIn 4s; }
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.word {
  -webkit-animation: moving 1s;
  animation: moving 1s;
}
@keyframes moving {
  from {transform: translateY(200px);}
  to {transform: translateY(0px);}
}

.wordnavl {
  -webkit-animation: movingnavl 1s;
  animation: movingnavl 1s;
}
@keyframes movingnavl {
  from {transform: translateX(-200px);}
  to {transform: translateX(0px);}
}

.wordnavr {
  -webkit-animation: movingnavr 1s;
  animation: movingnavr 1s;
}
@keyframes movingnavr {
  from {transform: translateX(200px);}
  to {transform: translateX(0px);}
}

@media (max-width: 375px) {
  .imgProfile{
      width: 50%;

  }
}

@media (max-width: 500px) {
  .imgProfile{
      width: 50%;

  }
}

.navbarName{
  padding-left: 100px;

}

@media (max-width: 375px) {
  .navbarName{
    padding-left: 0px;

  }
}

@media (max-width: 412px) {
  .navbarName{
    padding-left: 0px;

  }
}

@media (max-width: 810px) {
  .navbarName{
    padding-left: 0px;

  }
}


.bandera{
  width: 20px;
}

@media (max-width: 810px) {
  .bandera{
    width: 20px;

  }
}

.magicWords1 {

  color:gray;
}

.magicWords1:before {
  content: "...";
  animation: topToBottom1 5s infinite 0s;
}

@keyframes topToBottom1 {
  25% {
    content: "life.";
  }
  50% {
    content: "work.";
  }
  75% {
    content: "passion.";
  }
  100% {
    content: "portfolio.";
  }

}
.random {

  color:gray;
}

.random:before {
  content: "...";
  animation: topToBottom2 5s infinite 0s;
}

@keyframes topToBottom2 {
  25% {
    content: "my projects.";
  }
  50% {
    content: "your projects.";
  }
  75% {
    content: "our projects.";
  }
  100% {
    content: "our future.";
  }

}

a{
  color: gray;
}